[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
	ignore = dirty
[submodule "bundle/Screen"]
	path = bundle/Screen
	url = https://github.com/ervandew/screen
	ignore = dirty
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
