[submodule "bundle/Vim-R-plugin"]
	path = bundle/Vim-R-plugin
	url = https://github.com/vim-scripts/Vim-R-plugin.git
[submodule "bundle/Screen"]
	path = bundle/Screen
	url = https://github.com/ervandew/screen
